<style>
    input:not(.disable):hover {
      cursor: auto;
    }
  </style>
  
<form *ngIf="displayForm" [formGroup]="registrationVerificationForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <div class="row justify-content-center">
                        <h2>Credit File Request Form</h2>
                    </div>
                </div>
                <div class="card-body ">
                    <div id="card-body" class="">

                        <!-- Row 1 - Mobile and ID -->
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control" formControlName="mNumber" required >
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>State ID Number</label>
                                    <input type="text" class="form-control" formControlName="idNumber" required >
                                </div>
                            </div>
                        </div>

                        <!-- Social Security Number Row -->
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Social Security Number</label>
                                    <input type="text" class="form-control" formControlName="ssn" required
                                        pattern="[0-9]+" minlength="9" maxlength="9">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Birthdate</label>
                                    <input type="date" class="form-control" formControlName="dob" required>
                                </div>
                            </div>
                        </div>

                        <!-- County -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>County</label>
                                    <input type="text" class="form-control" formControlName="county" required
                                        pattern="[a-zA-Z ]+">
                                </div>
                            </div>
                        </div>

                        <!-- Name Row -->
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" formControlName="fName" required
                                        pattern="[a-zA-Z ]+">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" formControlName="lName" required
                                        pattern="[a-zA-Z ]+">
                                </div>
                            </div>
                        </div>

                        <!-- Address Row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" formControlName="address" required
                                        pattern="[a-zA-Z0-9.# ]+">
                                </div>
                            </div>
                        </div>

                        <!-- City, State, Zip Row -->
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" formControlName="city" required
                                        pattern="[a-zA-Z ]+">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" formControlName="state" required
                                        pattern="[a-zA-Z]+" minlength="2" maxlength="2">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control" formControlName="zip" required
                                        pattern="[0-9]+" minlength="5" maxlength="5">
                                </div>
                            </div>
                        </div>

                        <!-- Button Row -->
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">Save Registration
                                    Information</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


