  <div class="container mt-2 bg-light">
    <div class="row">
      <div class="col">
      <navbar-cmp></navbar-cmp>
    </div>
    <div class="col ">
      <!-- <p class="text-right">Test</p> -->
    <a href="javascript:void(0)"><i class="fa fa-question-circle pull-right" (click)='faqLink()' style="color: turquoise; font-size:xx-large; padding-top: .5em;"></i></a>
    </div>
    

    </div>
    <div class="content">   
      <router-outlet></router-outlet>
    </div>
  </div>
<footer-cmp></footer-cmp>