<style>

select {
    width: 400px; 
    text-align-last:center;
  }
  
</style>

<div class="container">
    <div *ngIf="ballot">
        <form [formGroup]="ballotForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card " style="text-align: center">
                        <div class="card-header ">
                            <h2>Ballot Builder</h2>
                            <h4>Precint ID :{{ ballot.precintId }}</h4>
                        </div>
                        <div class="card-body ">
                            <div id="card-body" class="">
                                <!-- Seat Name Row-->
                                <div class="row justify-content-center">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Seat Name</label>
                                            <input type="text" class="form-control" formControlName="seatName" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- Canidate Name Row-->
                                <div *ngFor="let candidate of candidates.controls; let i = index">
                                    <div [formGroup]="candidate">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Canidate's First Name</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="cFirstName" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Canidate's Last Name</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="cLastName" required>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- party row-->
                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Party</label>
                                                    <select class="form-control" formControlName="party" id="party">
                                                        <option value="Democrat">Democrat</option>
                                                        <option value="Republican">Republican</option>
                                                        <option value="Independant">Independant</option>
                                                      </select>                                                    
                                                    <!-- <input type="text" class="form-control" formControlName="party" required> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Button Row -->

                                </div>
                                <div class="row justify-content-center">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round">Add to Ballot</button>
                                        <button type="button" (click)="onAddCandidate()"
                                            class="btn btn-primary btn-round">Add
                                            Candidate</button>
                                        <button type="reset" (click)="onReset()"
                                            class="btn btn-primary btn-round">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>