<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left list-inline">
      <ul>
        <li class="list-inline-item">
          Alex
        </li>
        <li class="list-inline-item">
          Jesse
        </li>
        <li class="list-inline-item">
          Matt
        </li>
        <li></li>
        <li class="list-inline-item">
          Tim
        </li>
        <li></li>
        <li class="list-inline-item">
          Vivek
        </li>
        <li></li>
        <li class="list-inline-item">
          Wendell
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date: "yyyy" }}, made with
      <i class="fa fa-heart heart text-danger"></i> by
      <a href="https://www.creative-tim.com">SWENG 894 Group 1</a>
    </div>
  </div>
</footer>
